.pd-ew-read-more-widget {
    .long-text {
        overflow: hidden;
        max-height: 0;  // Na początku tekst jest schowany
        //transition: max-height var(--animation-duration, 500ms) ease; // Dodajemy animację na max-height
    }

    .pd-ew-read-more-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        & > .button-icon{
            vertical-align: middle;
        }

        & > .button-text{
            vertical-align: middle;
        }
    }
}
